<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <clockwork>
                <data_storage>file</data_storage>
                <enabled>0</enabled>
                <redis_from>session</redis_from>
                <redis_custom_host>localhost</redis_custom_host>
                <redis_custom_port>6379</redis_custom_port>
                <redis_custom_db>3</redis_custom_db>
                <redis_custom_password/>
            </clockwork>
        </dev>
    </default>
</config>
